/**
 * Node Styles
 */


.node /* Node wrapper */ {
  position:relative;
}

.preview .node /* Preview of the content before submitting new or updated content */ {
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

.node-promoted /* A node that has been promoted to the front page */ {
}

.node-sticky /* A sticky node (displayed before others in a list) */ {
}

.node-unpublished /* Unpublished nodes */ {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.node-unpublished div.unpublished,
.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. */ {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.node-by-viewer /* A node created by the current user */ {
}

.node-teaser /* Teaser View of the nodes, found in such places as the front page listing */ {
  background:url(../images/teaser-bg.png) repeat-x top #eee;
  border:1px solid #ddd;
  margin-bottom:1.2em;
  padding:1.5em 5px 5px;
}

/* All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
.node-page, .node-book, .node-blog, .node-forum, .node-article /* Page content node */ {
	border: 1px solid #ddd;
	padding: 10px;
}
/*.page-forum, .page-blog*/
.node .region-content, .page-node .region-content  /* Article content node */ {
/*  border-color: #DDDDDD;
  border: 1px solid #DDDDDD;
  border-top:0;
*/
}

h2.node-title /* Node title */ {
  color: #26468F;
  letter-spacing: -1.1px;
  text-shadow: 0 0 1px #555555;
  text-transform: uppercase;
}

.node .user-picture /* The picture of the node author */ {
  display: inline-block;
  vertical-align: middle;
}
.submission {
  background: none repeat scroll 0 0 #f4f4f4;
  border: 1px solid #DDDDDD;
  float: left;
  margin-bottom:3em;
  text-align: center;
  -moz-border-radius: 7px;
  -webkit-border-radius:7px;
  border-radius:7px;
}
.node-teaser /* Teaser View of the nodes, found in such places as the front page listing */ {
  background:url(../images/teaser-bg.png) repeat-x top #eee;
  border:1px solid #ddd;
  margin-bottom:0.9em;
  padding:1.5em 5px 5px;
}
.node-teaser .submission {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  color: #555;
  font-size: 10px;
  padding: 0 5px;
  position: absolute;
  right: 0;
  top: 2px;
}
 .node .submitted /* The "posted by" information */ {
  -moz-box-shadow: 0 0 5px #AAAAAA;
  -webkit-box-shadow: 0 0 5px #AAAAAA;
  box-shadow:0 0 5px #AAAAAA;
  background: none repeat scroll 0 0 #E8E8E8;
  color: #333333;
  display: inline-block;
  margin: 10px;
  padding: 5px;
  vertical-align: middle;
}
.node-teaser h2.node-title {
  margin: 0.37em 0;
}
.node-teaser .submitted {
  display:inline-block;
}
.submitted-info {
  clear:both;
}
.node-teaser .submitted-info {
  display:inline;
  line-height: 1.5em;
  letter-spacing: -0.1px;
}

.node-teaser .newreadmore {
  position: absolute;
  bottom:0;
  left:0;
  padding:3px;
  background:url(../images/nav-inactive.png) repeat-x top #26468F;
  color:#fff;
  text-shadow: 0 1px 0 #333;
}
.node-teaser .newreadmore a:link, .node-teaser .newreadmore a:visited {
  color:#fff;
}
.node-teaser .newreadmore a:hover, .node-teaser .newreadmore a.active {
  color:#bbb;
}
.node-teaser p {
  clear:both;
}
.node-teaser .field-name-body {
  margin-bottom:3em;
}

h1#page-title {
  /*font: bold 330%/100% "Lucida Grande";*/
  position: relative;
  color: #26468F;
  font-weight: bold;
}
h1#page-title span {
  background: url(../images/gradient-glossy.png) repeat-x;
  position: absolute;
  display: block;
  width: 100%;
  height: 25px;
}

h2, h2 a, a {color:#26468f;}
h2.block-title {
  color:#26468f;
}

/* Tabs 
* The view, edit, tracker links (also called 'local tasks')
*/
.tabs {
	text-align:right;
}
ul.primary {
	border-bottom:none;
  display:inline-block;
  margin:0;
  padding: 0.6em 0.3em 0;
}
ul.primary li a {
  background-color: #f5f5f5;
  margin-right: .08em;
  border-color: #ccc;
  padding: .1em .75em .2em;
}
.local-tasks ul.primary li a:hover {
  background-color: #f7f7f7;
  border-color: #ddd;
}
.local-tasks ul.primary li.active a {
  background-color: #fff;
  border-bottom-color: #fff;
}
ul.secondary {
  border-bottom: 1px solid #ccc;
  margin: 1em 0 0;
  padding: 0 .3em 1em;
}
ul.secondary li {
  border-right: 0;
  list-style: none;
  padding: 0 2em 0 0;
}
ul.secondary li a:hover,
ul.secondary li a.active {
  border-bottom: none;
  text-decoration: underline;
}


ul.inline li, ul.links /* List of links */ {
	display:inline-block;
}

ul.links.inline {
  display: block; /* Let the links be inline, but the container be a block. */
}

.node ul.links /* Node links. */ {
  background: none repeat scroll 0 0 #cbe0e1;
  border:1px solid #bbb;
  border-right:0;
  border-bottom:0;
  color: #333333;
  font-weight:bold;
  margin: 0px;
  padding: 2px 2px 3px;
  position:absolute;
  bottom:0;
  right:0;
}
.node-teaser ul.links /* Node links. */ {
  border:1px solid #bbb;
  border-left:0;
  border-bottom:0;
  left:66px;
  right:inherit;
}
.node-page-node ul.links /* Node links. */ {
  border:1px solid #bbb;
  border-left:0;
  border-bottom:0;
  left:66px;
  right:inherit;
}

/*
 * Book Styles
 */
.book-navigation .page-links {
  margin-bottom:1.5em;
}

/*
 * Poll Styles
 */
.poll .vote-form .choices, .poll .vote-form {
	margin:0;
	text-align:left;
}

/*
 * Pager Styles
 */
 .item-list .pager /* A list of page numbers when more than 1 page of content is available */ {
  background:#eee;
  border:1px solid #ddd;
  padding: 5px 0;
}

.item-list .pager li /* Each page number in the pager list */ {
  background:#f4f4f4;
  border:1px solid #ddd;
  margin:1px;
  padding: 1.5px 5px;
}
.item-list .pager li.pager-current {
  background:url(../images/nav-inactive.png) top;
  color:#fff;
}
