body {
  background:#333;
}
.container {
  background:url("images/subtle-light-trans.png") no-repeat scroll center bottom transparent;
}
/* Start Section Layout & Backgrounds CSS */
.leaderboard-container {
	background:#eee;
	border-bottom: 2px solid #ccc;
}
.leaderboard-container .container {
	padding:5px 0;
}
.leaderboard-container .container .region-leaderboard {
	margin:0 auto;
	width:768px;
}
.leaderboard-container .container .region-leaderboard p, 
.leaderboard-container .container .region-leaderboard .block {
	margin:0;
}
.header-container {
  background:url(images/dot-trans.png) repeat #333;
  position:relative;
}
.header-container .container {
  background:url(images/ink-trans01.png) no-repeat bottom;
  width:960px;
  padding:0 20px;
}
.nav-container {
 background:url(images/section-grad-trans.png) repeat-x #eaeaea;
}
.nav-container .container {
	padding:0 10px;
	width:980px;
}
.feature-container {
  background:url(images/feature-bg.png) #d4d4d4;
}
.feature-container-inner {
  background:url(images/section-grad-trans.png) repeat-x top;
  padding-top:10px;
}
#feature-area {
	margin-top:20px;
}
.columns-container {
  background:url(images/section-grad-trans.png) repeat-x top #eaeaea;
}
.columns-container-inner {
  background:url(images/columns-bg.png) repeat-x bottom;
  padding-top:20px;
}

.columns-container .container {
  background:#fff;
  padding-bottom:10px;
  -moz-box-shadow: 0px 1px 5px #888;
  -webkit-box-shadow: 0px 1px 5px #888;
  box-shadow: 0px 1px 5px #888;
}
.footer-container {
  background:url(images/section-grad-trans) repeat-x #333;
}
.footer-container .container {
  background:url(images/section-grad-trans) repeat-x #fff;
  padding-bottom:10px;
  -moz-box-shadow:0 1px 2px #EEEEEE;
  -webkit-box-shadow:0 1px 2px #EEEEEE;
  box-shadow: 0 1px 2px #EEEEEE;
}
#columns, #footer {
  margin-top:10px;
}
#branding {  
  display:block;
  min-height:100px;
}
/* End Page Section CSS*/

#branding h1 a {
  color:#fff;
  font-size:1.5em;
  text-shadow:0px 0px 3px #333;
  position:absolute;
  bottom:0;
}
#branding h2 {
  color:#fff;
  font-size:1.5em;
  padding-left:20px;
  text-shadow:0px 0px 3px #333;
}
#primary-nav {
  position:relative;
}
#primary-nav .pn a {
  background:url(images/nav-inactive.png) repeat-x;
  color:#fff;
  text-shadow: -1px -1px 1px #000000;
  display:block;
  font-weight:bold;
  line-height:28px;
  margin:0px;
  padding:0 20px;
}
#primary-nav .pn a:hover {
  background:url(images/nav-hover.png) repeat-x top;
  color:#fff;
  text-shadow: -1px -1px -1px #333;
}
 #primary-nav .pn a.active {
  background:url(images/nav-bg.png) repeat-x bottom;
  color:#26468f;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
#primary-nav .pn ul.menu {
  display:block;
  margin:0em;
  padding-left:0px;
}
#primary-nav .pn ul.menu li {
  border-right:1px solid #666;
  display: inline;
  float: left;
  list-style: none;
  list-style-image: none;
  padding:0;
  margin:0;
}
#primary-nav .pn ul.menu li.leaf {}
#primary-nav .pn ul.menu li a.active {
  color:#26468f;
}

/* The dropdown child items of MAIN MENU items
 * I figure most people will want a Javascript based solution,
 * however, I thought it sensible to include a small bit of code 
 * to support smaller use cases.
 */
#primary-nav .pn ul.menu li {
  position:relative;
  float:left;
}
#primary-nav .pn ul.menu li a {
  display:block;
  float:left;
}
#primary-nav .pn ul.menu li ul {
  display:none;
}
#primary-nav .pn ul.menu li:hover ul {
  display:block;
  position:absolute;
  left:0px;
  margin-top:28px;
  z-index:10;
}
#primary-nav .pn ul li ul li a:active {
  z-index:100;
  padding-top:1px;
  padding-bottom:0px;
  margin-bottom:-1px;
}

#primary-nav .pn ul.menu li ul li {
  clear:left;
  border-right:1px solid #666;
  border-left:1px solid #666;
}
#primary-nav .pn ul.menu li ul li a {
  padding-bottom:0px;
  width:130px;
}
#primary-nav .pn ul.menu li ul li ul {
  display:none !important;
}

/*Admin Appearance small fix*/
.clearfix {clear:both;}

/* Back to Top JS CSS */
#back-top {
	background: url("images/totop-bg.jpg") repeat-x scroll 0 0 transparent;
	position: fixed;
	bottom: 10px;
  right:10px;
  display:none;
	/* transition */
	-webkit-transition: 2s;
	-moz-transition: 2s;
	transition: 2s;
	/* rounded corners */
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}
#back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font-family:serif;
	font-size:15px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}
#back-top a:hover {
	color: #000;
}
span.totopimage {
  background: url(images/up-arrow.png) no-repeat center right #777;
  width:150px;
  height:30px;
}
/* arrow icon (span tag)  */
#back-top span {
	background: url("images/up-arrow.png") no-repeat scroll right top transparent;
  display: block;
  line-height: 30px;
  height: 30px;
  width: 100px;
}
#back-top a:hover span {}